In [8]:
import os

os.chdir("/home/jovyan/tdaMCBBproject")
os.getcwd()

'/home/jovyan/tdaMCBBproject'

In [9]:
os.listdir()

['downloadshotdata.qmd', 'README.md', 'MCBBdata.Rproj', 'data', '.git']

In [10]:
from pathlib import Path
import pandas as pd

data_dir = Path("data")

# NBA
nba_files = sorted((data_dir / "nba").glob("nba_shots_*.parquet"))
nba_files

[PosixPath('data/nba/nba_shots_2012.parquet'),
 PosixPath('data/nba/nba_shots_2013.parquet'),
 PosixPath('data/nba/nba_shots_2014.parquet'),
 PosixPath('data/nba/nba_shots_2015.parquet'),
 PosixPath('data/nba/nba_shots_2016.parquet'),
 PosixPath('data/nba/nba_shots_2017.parquet'),
 PosixPath('data/nba/nba_shots_2018.parquet'),
 PosixPath('data/nba/nba_shots_2019.parquet'),
 PosixPath('data/nba/nba_shots_2020.parquet'),
 PosixPath('data/nba/nba_shots_2021.parquet'),
 PosixPath('data/nba/nba_shots_2022.parquet'),
 PosixPath('data/nba/nba_shots_2023.parquet'),
 PosixPath('data/nba/nba_shots_2024.parquet')]

In [11]:
def extract_season(path):
    # "nba_shots_2015.parquet" -> "2015"
    return path.stem.replace("nba_shots_", "")

nba_by_season = {extract_season(f): pd.read_parquet(f) for f in nba_files}
nba_by_season.keys()

dict_keys(['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'])

In [12]:
nba_2015 = nba_by_season["2015"]
nba_2015.head()

,game_id,game_play_number,id,sequence_number,season,season_type,period,period_number,period_display_value,time,...,score_value,shooting_play,team_id,home_team_id,home_team_name,away_team_id,away_team_name,coordinate_x,coordinate_y,league
0,400796850,2,4.007969e+09,2,2015,3,1,1,1st Quarter,11:41,...,0,True,9,5,Cleveland,9,Golden State,-40.75,21.0,NBA
1,400796850,5,4.007969e+09,5,2015,3,1,1,1st Quarter,11:30,...,0,True,5,5,Cleveland,9,Golden State,28.00,-0.0,NBA
2,400796850,6,4.007969e+09,7,2015,3,1,1,1st Quarter,11:30,...,0,True,5,5,Cleveland,9,Golden State,28.00,-0.0,NBA
3,400796850,8,4.007969e+10,10,2015,3,1,1,1st Quarter,11:14,...,0,True,9,5,Cleveland,9,Golden State,-20.75,-3.0,NBA
4,400796850,10,4.007969e+10,12,2015,3,1,1,1st Quarter,10:49,...,2,True,5,5,Cleveland,9,Golden State,42.75,-0.0,NBA

In [13]:
mbb_files = sorted((data_dir / "mbb").glob("mbb_shots_*.parquet"))

def extract_mbb_season(path):
    return path.stem.replace("mbb_shots_", "")

mbb_by_season = {extract_mbb_season(f): pd.read_parquet(f) for f in mbb_files}
mbb_by_season.keys()

dict_keys(['2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024'])

In [14]:
mbb_2015 = mbb_by_season["2015"]
mbb_2015.head()

,game_id,game_play_number,id,sequence_number,season,season_type,period,period_number,period_display_value,time,...,score_value,shooting_play,team_id,home_team_id,home_team_name,away_team_id,away_team_name,coordinate_x,coordinate_y,league
0,400788981,2,4.007890e+17,101806901,2015,3,1,1,1st Half,19:30,...,2,True,150.0,150,Duke,275,Wisconsin,33.75,-1.0,MBB
1,400788981,3,4.007890e+17,101809201,2015,3,1,1,1st Half,19:07,...,3,True,275.0,150,Duke,275,Wisconsin,-26.75,17.0,MBB
2,400788981,5,4.007890e+17,101809801,2015,3,1,1,1st Half,19:01,...,3,True,150.0,150,Duke,275,Wisconsin,29.75,19.0,MBB
3,400788981,7,4.007890e+17,101817001,2015,3,1,1,1st Half,18:29,...,3,True,275.0,150,Duke,275,Wisconsin,-18.75,3.0,MBB
4,400788981,10,4.007890e+17,101824501,2015,3,1,1,1st Half,17:54,...,2,True,275.0,150,Duke,275,Wisconsin,-40.75,4.0,MBB

In [26]:
import os
os.getcwd()

'/home/jovyan/tdaMCBBproject'

In [27]:
os.listdir()

['downloadshotdata.qmd', 'README.md', 'MCBBdata.Rproj', 'data', '.git']